.container{
    display: flex;
    width: 100%;
    padding: 15px;
    background-color: blue;
    justify-content: center;
  }

  .form{
    display: flex;
    gap: 10px
  }

  .input{
    padding: 10px 15px;
    border-radius: 4px;
   outline: none;
  }

  .btn{
       padding: 10px 15px;
  }

