.wrapperImg{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 250ms ease;
}

.image:hover{
    transform: scale(1.1);
}