.loadBtn{
    display: block;
    padding: 12px 30px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 5px rgba(255, 255, 255, 0.2);
    background-color: blue;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}